*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: none;
    font-size: 1rem;
    line-height: 1;
    text-decoration: none;
}

body{
    --bg: #080808;
    --text: #ecffe7;
    --accent: #252525;
    background: var(--bg);
    color: var(--text);
}

a{
    font-size: inherit;
}

.lg {
    font-size: clamp(2rem, 6vw, 6rem);
}

.md{
    font-size: clamp(2.25rem, 3.5vw, 3.375rem);
}

.sm{
    font-size: clamp(1.5rem, 2.5vw, 2rem);
}

.xs{
    font-size: clamp(1.125rem, 2vw, 1.5rem);
}