:root {
  /* ------------------ Background ------------------ */
  --color-bg-dark: #180E01;
  --color-bg-light: #CEC0AE;

  /* ------------------ Text ------------------ */
  --color-text-dark: #180E01;
  --color-text-light: #CEC0AE;
  --color-white-text: #fff;

  /* ------------------ Button System ------------------ */
  --btn-radius: 999px;
  --btn-padding: 0.75rem 1.5rem;
  --btn-font: 'montserrat', sans-serif;

  /* ------------------ Text Size ------------------ */
  
}

body {
  background-color: var(--color-bg-light);
  font-family: var(--btn-font);
}

/* ------------------ Background Classes ------------------ */
.bg-dark {
  background-color: var(--color-bg-dark);
}

.bg-light {
  background-color: var(--color-bg-light);
}

/* ------------------ Text Classes ------------------ */
.text-dark {
  color: var(--color-text-dark);
}

.text-light {
  color: var(--color-text-light);
}

/* ------------------ Typography ------------------ */
.h1 {
  font-family: var(--btn-font);
  font-size: clamp(2rem, 5vw, 48px);
  font-weight: 500; 
  margin-bottom: 1rem;
}

.p {
  font-family: var(--btn-font);
  font-size: clamp(1rem, 2.5vw, 20px);
  font-weight: 400; 
  margin-bottom: 1rem;
}

/* ------------------ Liquid Glass Button ------------------ */
.btn {
  display: inline-block;
  position: relative;
  z-index: 1;

  padding: var(--btn-padding);
  border-radius: var(--btn-radius);
  font-family: var(--btn-font);
  font-weight: var(--btn-weight);
  text-align: center;
  cursor: pointer;
  /* color: var(--color-text-dark); */

  /* Liquid Glass Effect */
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12),
              0 0 0 2px rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

/* Tint overlay */
.btn::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.15);
  border-radius: inherit;
  z-index: 0;
}

/* Subtle highlights */
.btn::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.5),
              inset -1px -1px 2px rgba(255, 255, 255, 0.3);
  z-index: 0;
}
