/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
	background-color: #0B0C0C;
	color: #FFFFFF;
}

/* Annelinde */

.meet-our-team {
    /* background-color: #111212; */
	background-color: aquamarine;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.about-us{
		margin: 10%;
		width: 30%;
	}

	h3 {
		font-size: 2em;
	}

	.about-us p {
		text-align: left;
		margin-top: 1em;
		color: #444343;
	}

}

 @media(min-width : 540px){
	.meet-our-team {
		/* background-color: #111212; */
		background-color: aquamarine;
		display: flex;
		
	
		.about-us {
			margin: 10em;
		}
	
		h3 {
			font-size: 2em;
		}
	
		.about-us p {
			text-align: left;
			margin-top: 1em;
			color: #444343;
		}
	
	}
} 

/* .about-us {
    flex: 1; 
    max-width: 50%; 
    padding-left: 50px; 
	margin: 2em;
	margin-top: 4em;
}

.about-us h3 {
	padding-left: 50px;
	text-align: left;
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
}

.about-us p {
	text-align: left;
	margin: 0;
	padding: 0;
	margin-top: 0;
}

.our-team-cards {
    flex: 1; 
    max-width: 50%; 
    display: flex;
    flex-wrap: wrap; 
    gap: 10px;
}

.meet-our-tribe {
	display: none;
} */
