* {
    transition: .5s;
}

@property --name {
    syntax: '<string>';
    default: 'default_name';
    inherits: false;
    transition: 1s;
}

.meet-our-team {
    position: relative;
    display: flex;
    background-color: rgba(71, 71, 71, 0.319);
    width: 100%;
    height: 80vh;
    margin: 4em;
}

.our-team-cards {
    display: flex;
    padding-block: .5em;
    perspective: 3000px;
    margin-block: 3%;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-right: 4rem;
}

.all-cards {
    --index:1;
    width: 150px;
    height: 300px;
    object-fit: fill;
    transform: rotateY(-40deg);
    background-size: cover;
    top: 0;
    left: 0;
    border-radius: 5px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 1);
}

.all-cards:hover{
    transform: rotateY(0deg) translateY(-100px);
    transition: .3s;
    z-index: calc(var(--index) + 1);
    z-index: 7;
}

.all-cards:not(:hover){
    transition: .9s ease .1s;
    transform: rotateY(-30deg) rotateX(5deg);
}

.all-cards:not(:nth-of-type(1)) {
    margin-inline-start: -10%;
}

.card1 {
    --name:chris;
    background-image: url(./images/christopher.jpeg);
}

.card2 {
    background-image: url(./images/daan.jpeg);
    z-index: calc(var(--index) * -1);
}

.card3 {
    background-image: url(./images/jason.jpeg);
    z-index: calc(var(--index) * -2);
}

.card4 {
    background-image: url(./images/ellenoor.jpeg);
    z-index: calc(var(--index) * -3);
}

.card5 {
    background-image: url(./images/tristan.jpeg);
    z-index: calc(var(--index) * -4);
}

.card6 {
    background-image: url(./images/annelinde.jpg);
    z-index: calc(var(--index) * -5);
}

.about-us {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50vw;
    flex: 0 1 50vw;
}

.about-us h3{
    transition: 1s;
}

.about-us h3::after{
    content: 'meet the team';
    font-size: clamp(1rem, 1.912vw + 0.388rem, 3rem);
   

}

section.meet-our-team:has(.card1:hover)  .about-us h3::after{
    content: 'Chris';
}
section.meet-our-team:has(.card2:hover)  .about-us h3::after{
    content: 'Daan';
}
section.meet-our-team:has(.card3:hover)  .about-us h3::after{
    content: 'Jason';
}
section.meet-our-team:has(.card4:hover)  .about-us h3::after{
    content: 'Ellenoor';
}
section.meet-our-team:has(.card5:hover)  .about-us h3::after{
    content: 'Tristan';
}
section.meet-our-team:has(.card6:hover)  .about-us h3::after{
    content: 'Annelinde';
}


@media only screen and (width > 900px) {

    .all-cards {
        width: 240px;
        height: 240px;

    }


}



@media screen and (width < 700px) {

    .about-us {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        flex: 0 1 50vw;
    }

    .our-team-cards {
        display: flex;
        padding-block: .5em;
        perspective: 3000px;
        height: fit-content;
        width: 100%;
        margin-block: 3%;
        justify-content: center;
    }


    .meet-our-team {
       
        width: 100%;
        flex-direction: column;
        height: 480px;
    }


    .all-cards {
        width: 130px;
        height: 200px;
    }



    .about-us {
        width: 100%;
    }

    .all-cards:not(:nth-of-type(1)) {
        margin-inline-start: -5%;
    }

}

@media screen and (width < 500px) {
    .about-us {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        flex: 0 1 50vw;
    }

    .our-team-cards {
        display: block;
        padding-block: .5em;
        perspective: 3000px;
        height: fit-content;
        width: fit-content;
        margin-block: 3%;
        margin-right: 0;

        justify-content: center;
    }

    .meet-our-team {
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        perspective: 3000px;
    }

    .all-cards {
        --index: -1;
        width: 230px;
        height: 250px;
        object-fit: fill;
        transform: rotateY(0deg);
        background-size: cover;
        top: 0;
        left: 0;
        position: relative;
        border-radius: 5px;
        box-shadow: 0 0 30px 0 rgba(0, 0, 0, 1);
        margin-bottom: 1em;
    }

    .all-cards:not(:hover){
        transition: .9s ease .1s;
        transform: rotateY(0deg) rotateX(-30deg);
    }
    

    .all-cards:not(:nth-of-type(1)) {
        margin-inline-start: 0;
        margin-block-start: -100px;
    }
}