@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat-Medium.ttf);
}

*{
    font-family: Montserrat;
    margin: 0;
    padding: 0;
}

:root{

    /* colors */
    --background-color: #EBEBEB;
    --button-background-color: #050542;
    --button-text-color: #ffffff;
    --button-border-color: #66E5BF;
    --main-text-color: #000000;
    --dot-color: #00000033;
    --header-background-color:#ffffff7e;
    
    --space: 22px;
    --grid-shift:2em;

    @media(prefers-color-scheme: dark){
        --background-color: #1E1E1E;
        --button-background-color: #66E5BF;
        --button-text-color: #050542;
        --button-border-color: #050542;
        --main-text-color: #ffffff;
        --dot-color: #ffffff33;
        --header-background-color:#3a3a3a7e;
    }

    .dark-mode-active { 
        --background-color: #0E0E0E;
        --button-background-color: #66E5BF;
        --button-text-color: #050542;
        --button-border-color: #050542;
        --main-text-color: #ffffff;
        --dot-color: #6E757A;
        --header-background-color:#3a3a3a7e;
    }

    /* font */
    --h1-font-size: 3em;
    --h2-font-size: 2.25em;
    --h3-font-size: 1.5em;
    --h4-font-size: 1.13em;

}

.button-styling{
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    border: none;
    border-radius: .5em;
    padding-inline: 2em;
    padding-block: 1em;
    cursor: pointer;
    transition: .15s;

        &:hover{
            border: 2px solid var(--button-border-color);
        }
}

#dark-mode-button {
    position: relative;
    overflow: hidden;      
    background: var(--button-background-color);
    color: var(--button-text-color);
    border: 1px solid var(--button-border-color);
    padding: 0.6rem 1.2rem;
    border-radius: 8px;
    font-size: 0.95rem;
    font-weight: 500;
    cursor: pointer;
}

#dark-mode-button::after {
    content: "";
    position: absolute;
    top: 0;
    left: -75%;          
    width: 50%;
    height: 100%;
    background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.6),
    transparent
    );
    transform: skewX(-20deg);
}

@keyframes animation-shine {
    0%   { left: -75% }
    100% { left: 125% }
}

.animation-shine::after {
    animation: animation-shine 0.6s ease
}


body{
    margin: 0;
    color: var(--main-text-color);
    background:
    radial-gradient(circle at 1px 1px,var(--dot-color) 1.2px, transparent 1.3px) 0 0 / var(--space) var(--space),
    linear-gradient(var(--background-color),var(--background-color));
}

.layout-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    margin: 0 20px;
    
    @media (min-width: 0px) and (max-width: 677.98px){
        > img:nth-child(2n+2) {
        transform: translateY(1em);
        }
    }

    @media (min-width: 678px) and (max-width: 1023.98px){
        grid-template-columns: repeat(3, 1fr);
        margin: 0 30px;
        
        > img:nth-child(3n+2) {
        transform: translateY(1em);
        }
    }
    @media (min-width:1024px){
        grid-template-columns: repeat(5, 1fr);
        
        > img:nth-child(5n+2),
        > img:nth-child(5n+4) {
        transform: translateY(1em); 
    }
    }

    img {
        width: 100%;
        aspect-ratio: 9 / 16;  
        object-fit: cover;    
        border-radius: 1em;
        display: block;
        background: url('lib/assets/placeholder.jpg') center/cover no-repeat;
    }
}


header{
    position: sticky;
    top: 0;
    z-index: 99999999;

    nav{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background-color: var(--header-background-color);
        padding-block: 1em;
        padding: 10px 30px;
    
        a{
            margin-right: auto;
            padding-left: .5em;
        }
    
        button{
            margin: .5em;
        }
    }
}

img{
    max-width: 100vw;
}

#dark-mode-button {
    background: var(--button-background-color);
    color: var(--button-text-color);
    border: 1px solid var(--button-border-color);
    padding: 0.7rem 1.2rem;
    border-radius: 8px;
    font-size: 0.95rem;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
}
