 @font-face {
        font-family: "Monomaniac One";
        src: url("/fonts/MonomaniacOne-Regular.ttf") format("truetype");
        font-weight: 400;
        font-style: normal;
    }

/* Secondary font */
@font-face {
    font-family: "Exo 2";
    src: url("/fonts/Exo2-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

main {
    --light-color-gradient: #D3FFE5;
    --medium-color-gradient: #289797;
    --dark-color-gradient: #144545;

    --text-color: #F0FFFA;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    cursor: url(https://fdnd.directus.app/assets/{member.mugshot});
}
h1 {
    font-family: "Monomaniac One";
    font-size: clamp(4rem, 4vw, 10rem);
}

ul {
    list-style-type: none;
}

li, a {
    font-family: "Exo 2";
}

img {
    border: 2px solid var(--dark-color-gradient);
    border-radius: 1em;
}