:root {
  --text: rgba(0,0,0,1);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@font-face {
  font-family: groovy;
  src: url("./lib/assets/finger_cursor.svg");
}

html,
body, button, input {
  cursor: url("/src/lib/assets/Cursor.svg"), auto;
  display: flex;
  flex-direction: column;
  font-family: groovy, sans-serif;
/*  width: 100%;
  height: 100%;
  display: flex;
}

.tv-static {
  width: 500px;
  height: 300px;
  margin: auto;
  background-image: repeating-conic-gradient(white, black 0.00085%);
  animation: back 25s linear infinite;*/

background-color: #C8C8C8;
}

/* body{
  padding: 0 2em;
} */

/* IPV body padding */
.header, .call-to-action-container, .search-container{
  padding: 0 2em;
}

.all-members{
  padding: 0 0 0 2em;
}
/* IPV body padding */

h1 {
  font-size: 40px;
  color: var(--text);
}

h2 {
  font-size: 28px;
  color: var(--text);
}

p {
  font-size: 18px;
  color: var(--text);
  font-family: 'Poppins', sans-serif;
}

